@import 'mixin';
@-webkit-keyframes rock{
  0%{@include transform(rotate(0deg))}
  10%{@include transform(rotate(-3deg))}
  20%{@include transform(rotate(3deg))}
  30%{@include transform(rotate(-2deg))}
  40%{@include transform(rotate(2deg))}
  50%{@include transform(rotate(-1deg))}
  60%{@include transform(rotate(1deg))}
  70%{@include transform(rotate(0deg))}
  100%{@include transform(rotate(0deg))}
}
*{margin:0;padding:0;}
body{
	min-width: 1200px;
	min-height: 600px;
	background-color: #000;
	-webkit-font-smoothing:antialiased;
	font-family: '微软雅黑';
}
.main{width:1200px;
      height:600px;
      background-image: url(../img/bg.jpg);
      position: absolute;
      left:50%;
      top:50%;
      margin-top: -300px;
      margin-left:-600px;
      overflow: hidden;
}
/*粽子盒子*/
.c_zongzi_box{
	position: absolute;
	left:700px;
	top:184px;
	width: 312px;
	height:305px;
}
.c_zongzi_box_rock{
	-webkit-animation:rock 2s infinite;
}
/*粽子*/
.c_zongzi{
	width: 312px;
	height:305px;
	background-image: url(../img/zz.png);
	@include transition(all 1s);
	@include opacity(1);
}
.c_zongzi_out{
	@include opacity(0);
	@include transform(scale(.5));
}
/*绳子*/
.c_shengzi_1{
	width:218px;
	height:180px;
	position: absolute;
	background-image: url(../img/line_1.png);
	left:10px;
	top:120px;
	z-index:999;
	cursor: pointer;
}
.c_shengzi_2{
    width:219px;
	height:159px;
	position: absolute;
	background-image: url(../img/line_2.png);
	left:10px;
	top:158px;
}
.c_shengzi_3{
    width:264px;
	height:117px;
	position: absolute;
	background-image: url(../img/line_3.png);
	left:10px;
	top:220px;
}
.c_shengzi_4{
    width:288px;
	height:56px;
	position: absolute;
	background-image: url(../img/line_4.png);
	left:10px;
	top:290px;
}
.c_shengzi_0{
	display: none;
}
/*粽子肉*/
.c_zongzirou{
	width:288px;
	height: 206px;
	background-size: 288px 206px;
	background-image: url(../img/zzr_1.png);
	position: absolute;
	left:50px;
	top:48px;
	z-index: 101;
	@include opacity(0);
	@include transform(scale(.8));
	@include transition(all 1s);
	@include transform-origin(top center);
}
.c_zongzirou_in{
	@include opacity(1);
	@include transform(scale(1));
}
/*左叶*/
.c_zuoye{
	width:114px;
	height: 266px;
	background-image: url(../img/leaf_left.png);
	position: absolute;
	left:20px;
	top:-50px;
	z-index: 1;
	@include opacity(0);
	@include transform-origin(left bottom);
	@include transition(all 1s);
}
.c_zuoye_in{
	@include opacity(1);
    @include transform(rorate(-5deg));
}
.c_zuoye_out{
	@include opacity(0);
    @include transform(rorate(-15deg));
}
/*右叶*/
.c_youye{
	width:318px;
	height: 338px;
	background-image: url(../img/leaf_right.png);
	position: absolute;
	left:90px;
	top:-80px;
	z-index: 111;
	@include opacity(0);
	@include transition(all 1s);
	@include transform(scale(.8));
}
.c_youye_in{
	@include opacity(1);
    @include transform(rorate(5deg) scale(.8));
}
.c_youye_out{
	@include opacity(0);
    @include transform(rorate(15deg) scale(.8));
}
/*底叶*/
.c_diye{
	width:618px;
	height: 468px;
	background-image: url(../img/leaf_expand.png);
	position: absolute;
	left:-150px;
	top:-60px;
	z-index: 99;
	@include opacity(0);
	@include transition(all 1s);
}
.c_diye_in{
	@include opacity(1);
}/*字一*/
.c_text_1{
    width:180px;
	height: 100px;
	background-image: url(../img/t_jixiang.png);
	position: absolute;
	left:50%;
	top:50%;
	margin-top: -70px;
	margin-left:-50px;
	z-index: 200;
	@include transform(scale(0.8));
	@include transform-origin(center center);
	@include opacity(0);
	@include transition(all 1s);
}

.c_text_1_in{
	@include opacity(1);
}
/*字二*/
.c_text_2{
    width:180px;
	height: 100px;
	background-image: url(../img/t_ruyi.png);
	position: absolute;
	left:50%;
	top:50%;
	margin-top: -70px;
	margin-left:-50px;
	z-index: 200;
	@include transform(scale(0.8));
	@include transform-origin(center center);
	@include opacity(0);
	@include transition(all 1s);
}


/*祝福语文字*/
.text{
	position: absolute;
	width: 400px;
	height: 370px;
	left:180px;
	top:140px;
	font-size: 14px;
	line-height: 20px;
	color:#333;
}
.text{
	.caption{
		width:400px;
		height:240px;
		background: url(../img/caption.png) no-repeat;
        margin-left: 40px;
        @include opacity(0);
	    @include transition(all 1s 0s);
	}
	.caption_rock{
		-webkit-animation:rock 2s infinite;
	}
	.to,.msg,.from{
		width:400px;
		margin-top: 10px;
		margin-left: 40px;
		@include opacity(0);
	}
	.to{
		@include transition(all 1s 0.5s);
	}
	.msg{
		@include transition(all 1s 1s);
	}
	.from{
		text-align: right;
		@include transition(all 1s 1.5s);
	}
}
.text_in{
	.caption,.msg,.from,.to{
        @include opacity(1);
        margin-left: 0px;
	}
}

/*粽子肉旋转的视角*/
.c_zongzirou_view_1{
	@include transition(all 0s);
	background-image: url(../img/zzr_1.png);
}
.c_zongzirou_view_2{
	@include transition(all 0s);
	background-image: url(../img/zzr_2.png);
}
.c_zongzirou_view_3{
	@include transition(all 0s);
	background-image: url(../img/zzr_3.png);
}
.c_zongzirou_view_4{
	@include transition(all 0s);
	background-image: url(../img/zzr_4.png);
}
.c_zongzirou_view_0{
	@include transition(all 0s);
	background-image: url(../img/zzr_1.png);
	@include transform(rotateY(180deg));
}
/*文字的视角*/
.c_text_view_1{
  @include transform(scale(0.8));
  @include transition(all 1s);
}
.c_text_mirror_1{
  display: none;
  @include transition(all 1s);
}
.c_text_view_2{
  @include transition(all 1s);
  @include transform(scale(0.8) rotateY(30deg) translate(-50px,0) rotate(8deg));
}
.c_text_mirror_2{
  @include transition(all 1s);
  @include transform(scale(0.7) rotateY(70deg) translate(283px,-15px) rotate(-8deg));
}
.c_text_view_3{
  @include transition(all 1s);
  @include transform(scale(0.75) rotateY(49deg) translate(-94px,0) rotate(15deg));
}
.c_text_miror_3{
  @include transition(all 1s);
  @include transform(scale(0.75) rotateY(49deg) translate(118px,0px) rotate(-15deg));
}
.c_text_view_4{
	@include transition(all 1s);
	@include transform(scale(0.6) rotateY(50deg) translate(-196px,10px) rotate(24deg));
}
.c_text_mirror_4{
	@include transition(all 1s);
	@include transform(scale(0.8) rotateY(30deg) translate(58px,10px) rotate(-5deg));
}